* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

/* Body background color */
body {
    background-color: #e5e7e2;
}
    
.header {
    padding-top: 5px;
    padding-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2d3031;
    color: #2d3031;
}  

/* Header display setting and font-size */
.header h1 {
    display: inline-block;
    font-size: 48px;
    background-color: turquoise;
}


/* header div sizing and styles */
.header div {
    padding-top: 8px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

/* Header unordered list style */
.header div ul {
    list-style-type: none;
    margin-right: 130px;
    font-size: 25px;
}

/* Navbar links text color */
a {
    color: turquoise;
    text-decoration: underline;
    text-decoration: solid underline turquoise 5px;
    text-underline-offset: 0.2em;
}

/* Header unordered list items positioning */
.header div ul li {
    display: inline-block;
    padding-top: 5px;
    margin-right: 10px;
}

/* Hero div sizing */
.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/bee-image-01.jpg");
    background-size: cover;
    background-position: center;
}

/* Cool subtitle */
.hero h2 {
    display: inline-block;
    padding: 5px;
    margin-top: 230px;
    margin-left: 190px;
    color: black;
    background-color: turquoise;
}

.aboutme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-bottom: 50px;
}

.aboutme #side {
    order: 1;
    height: 200px;
    width: 17.5%;
    border-right: 5px solid turquoise;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-color: #e5e7e2;
    color: black;
}

.aboutme h3 {
    order: 2;
    height: 100px;
    width: 30%;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-color: #e5e7e2;
    color: black;
}

.aboutme p {
    order: 3;
    height: 200px;
    width: 72.3%;
    margin-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #e5e7e2;
    color: black;
}

.mywork {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.mywork #aside {
    order: 1;
    height: 400px;
    width: 17.5%;
    border-right: 5px solid turquoise;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-color: #e5e7e2;
    color: black;
}

.mywork h4 {
    height: 100px;
    width: 28%;
    float: right;
}

.mywork #box1 {
    order: 2;
    position: relative;
    border: 5px solid turquoise;
    height: 400px;
    margin-left: 40px;
    width: 72.3%;
    background-image: url("../images/New\ Generation\ Energy\ Logo.png");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #e5e7e2;
    color: black;
}

#box1:hover {
    opacity: 0.3;
  }


.mywork #box2 {
    order: 3;
    border-right: 5px solid turquoise;
    height: 200px;
    width: 17.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #e5e7e2;
    color: black;
}

.mywork h5 {
    border: 5px solid turquoise;
    height: 100px;
    width: 30%;
    position: absolute;
    bottom: 20px;
    background-color: turquoise;
}

.mywork #box3 {
    order: 4;
    position: relative;
    border: 5px solid turquoise;
    height: 200px;
    width: 35.1%;
    margin-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #e5e7e2;
    color: black;
}

.mywork #box4 {
    order: 5;
    position: relative;
    border: 5px solid turquoise;
    height: 200px;
    width: 35.1%;
    margin-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #e5e7e2;
    color: black;
}

.mywork #box5 {
    order: 6;
    border-right: 5px solid turquoise;
    height: 200px;
    width: 17.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #e5e7e2;
    color: black;
}

.mywork #box6 {
    order: 7;
    position: relative;
    border: 5px solid turquoise;
    height: 200px;
    width: 35.1%;
    margin-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #e5e7e2;
    color: black;
}

.mywork #box7 {
    order: 8;
    position: relative;
    border: 5px solid turquoise;
    height: 200px;
    width: 35.1%;
    margin-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #e5e7e2;
    color: black;
}

.contactme {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-top: 50px;
}

.contactme #aside {
    order: 1;
    height: 100px;
    width: 17.5%;
    border-right: 5px solid turquoise;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e5e7e2;
    color: black;
}

.contactme #aside h6 {
    height: 300px;
    width: 39%;
    float: right;
    font-size: 30px;
}

.contactme #contactdetails {
    order: 2;
    position: relative;
    height: 100px;
    width: 72.3%;
    margin-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #e5e7e2;
    color: black;
}

.contactme ul {
    list-style-type: none;
    margin-right: 130px;
    font-size: 30px;
}

.contactme ul li {
    display: inline-block;
    padding-top: 5px;
    margin-right: 100px;
}

.contactme ul li a {
    color: black;
    text-decoration: underline;
    text-decoration: solid underline black 5px;
    text-underline-offset: 0.2em;
}



@media (max-width: 740px) {
    .header  {
      width: 20%;
    }
}

@media (max-width: 740px) {
    .aboutme  {
        width: 30%;
    }
}

@media (max-width: 740px) {
    .mywork  {
        width: 30%;
    } 
} 