body {
    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.05rem;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

/* html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 55%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } } */

.navbar {
    justify-content: center;
    padding-top: 100px;
}

p {
    font-size: 1.6rem; }
  
  .skills {
    font-size: 2rem;
    padding: 1.5rem; }
    .skills li {
      margin-bottom: 1rem; }
    .skills li img {
      vertical-align: middle; }
    .skills ion-icon {
      font-size: 3.2rem;
      vertical-align: middle; }
  
  .skill {
    padding: 0rem 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    color: #a8890d; }
  
  .myinfo {
    font-size: 1.2rem;
    letter-spacing: 0.2rem; }
  
  .u-center-text {
    text-align: center; }
  
  .u-margin-bottom-big {
    margin-bottom: 8rem; }
  
  .u-margin-bottom-medium {
    margin-bottom: 4rem; }
  
  .u-margin-bottom-small {
    margin-bottom: 1.5rem; }
  
  .btn:link, .btn:visited {
    display: inline-block;
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none; }
  
  .btn:hover, .btn:active {
    color: #fff; }
  
  .btn--full:link, .btn--full:visited {
    border: 1px solid #5E5E5E;
    color: #5E5E5E;
    border-radius: 0.5rem;
    transition: background-color 0.2s, border 0.2s; }
  
  .btn--full:hover, .btn--full:active {
    background-color: #8f771a;
    color: #fff;
    border: 1px solid transparent; }
  
  .btn--gold:link, .btn--gold:visited {
    padding: 0.5rem 1rem;
    border: 1px solid #a8890d;
    color: #a8890d;
    border-radius: 0.5rem;
    transition: background-color 0.2s, border 0.2s; }
  
  .btn--gold:hover, .btn--gold:active {
    background-color: #8f771a;
    color: white;
    border: 1px solid transparent; }
  
  .btn ion-icon[name="arrow-forward-outline"] {
    vertical-align: middle;
    margin-left: 1rem; }
  
  .btn--black:link, .btn--black:visited {
    color: #000000;
    border: 1px solid #000000;
    margin-right: 2rem;
    transition: color 0.2s, border 0.2s, background-color 0.2s;
    border-radius: 0.5rem; }
  
  .btn--black:hover, .btn--black:active {
    color: #ebe7e7;
    border: 1px solid transparent;
    background-color: #8f771a; }
  
  .toggle-btn {
    display: none; }
  
  @media (max-width: 56.25em) {
    .toggle-btn {
      display: block;
      float: right;
      color: #5E5E5E;
      font-size: 8rem;
      padding-right: 1rem;
      margin-right: 1rem;
      background-color: transparent;
      border: transparent;
      text-decoration: none;
      cursor: pointer;
      transition: transform 0.2s ease-in; }
    .toggle-btn:active {
      transform: translateY(2rem); } }
  


.small-icon {
    font-size: 2.2rem;
    vertical-align: middle; }
  
  .xtra-small-icon {
    font-size: 1.8rem;
    vertical-align: middle; }
  
  ion-icon[name="logo-github"],
  ion-icon[name="logo-linkedin"] {
    text-align: center;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
  
  ion-icon[name="logo-github"]:hover {
    color: #8310bd; }
  
  ion-icon[name="logo-linkedin"]:hover {
    color: #007bb5; 
}

body {
    font-family: 'Raleway',sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.7;
    color: #313b2f;
    box-sizing: border-box; }
  
  .heading-primary {
    color: #5E5E5E;
    font-size: 4.5rem;
    font-weight: 300;
    letter-spacing: 0.5rem; }
    @media (max-width: 37.5em) {
      .heading-primary {
        letter-spacing: 0.2rem;
        font-size: 3.5rem; } }
    .heading-primary--main--name {
      color: #a8890d;
      font-family: Raleway;
      width: 100%; }
  
  .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase; }
    @media (max-width: 56.25em) {
      .heading-secondary {
        font-size: 3rem; } }
    @media (max-width: 37.5em) {
      .heading-secondary {
        font-size: 2.5rem; } }
  
  .heading-secondary::after {
    content: "";
    display: block;
    margin: 0 auto;
    height: 0.2rem;
    width: 10rem;
    margin-top: 2rem;
    background-color: #a8890d;
    margin-bottom: 2rem; }
  
  .heading-tertiary {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-weight: 500; }
  
  .heading-quarter {
    font-size: 2.2rem;
    font-weight: 400;
    color: #a8890d; }
  
  p {
    font-size: 1.6rem; }


    .header {
        height: 100vh;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        background-attachment: fixed;
        position: relative;
        background-color: #fff; }
      
      .header__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
      
      .heading-primary--main {
        display: block;
        font-weight: bold; }
      
      .heading-primary--sub {
        display: block;
        font-weight: 300;
        font-size: 1.5rem;
        margin-bottom: 1rem; }
      
      .header__text-box a {
        display: inline-block; }

.myimage {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem; }
  @media (max-width: 56.25em) {
    .myimage {
      text-align: center;
      float: none; } }
  .myimage img {
    border: 1px solid #a8890d;
    border-radius: 5px;
    padding: 0.5rem;
    height: 50%; }
    @media (max-width: 56.25em) {
      .myimage img {
        margin-left: auto;
        margin-right: auto; } }

.section-about {
  background-color: #f7f7f7;
  padding: 6rem 0; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 4rem 0;
      text-align: center; } }

      
.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 3rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 70rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-left: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((80% - 4rem)/2); }
  .row .col-1-of-3 {
    width: calc((80% - 2* 6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2 * ((80% - 2* 6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((80% - 3* 6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2 * ((80% - 3* 6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((80% - 3* 6rem)/4) + 2 * 6rem); 
}


