body {
    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.05rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.navbar {
    justify-content: center;
    position: sticky;
    top: 0;
}

h3 {
  font-size: 2rem;
  padding-top: 6rem;
}


p {
    font-size: 1.6rem; }
  
  .myinfo {
    font-size: 1.2rem;
    letter-spacing: 0.2rem; }
  
  .u-center-text {
    text-align: center; }
  
  .u-margin-bottom-medium {
    margin-bottom: 4rem; }
  
  .u-margin-bottom-small {
    margin-bottom: 1.5rem; }
  
  .btn:link, .btn:visited {
    display: inline-block;
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none; }
  
  .btn:hover, .btn:active {
    color: #fff; }
  
  .btn--full:link, .btn--full:visited {
    border: 1px solid #5E5E5E;
    color: #5E5E5E;
    border-radius: 0.5rem;
    transition: background-color 0.2s, border 0.2s; }
  
  .btn--full:hover, .btn--full:active {
    background-color: rgb(189, 119, 189);
    color: #fff;
    border: 1px solid transparent; }
  

  .btn ion-icon[name="arrow-forward-outline"] {
    vertical-align: middle;
    margin-left: 1rem; }
  
  
  .toggle-btn {
    display: none; }
  
  @media (max-width: 56.25em) {
    .toggle-btn {
      display: block;
      float: right;
      color: #5E5E5E;
      font-size: 8rem;
      padding-right: 1rem;
      margin-right: 1rem;
      background-color: transparent;
      border: transparent;
      text-decoration: none;
      cursor: pointer;
      transition: transform 0.2s ease-in; }
    .toggle-btn:active {
      transform: translateY(2rem); } }
  


.small-icon {
    font-size: 2.2rem;
    vertical-align: middle; }
  
  ion-icon[name="logo-github"],
  ion-icon[name="logo-linkedin"] {
    text-align: center;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
  
  ion-icon[name="logo-github"]:hover {
    color: #8310bd; }
  
  ion-icon[name="logo-linkedin"]:hover {
    color: #007bb5; 
}

body {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.7;
    color: #313b2f;
    box-sizing: border-box; }
  
  .heading-primary {
    color: #5E5E5E;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.5rem; }
    @media (max-width: 37.5em) {
      .heading-primary {
        letter-spacing: 0.2rem;
        font-size: 2rem; } }


  .heading-secondary {
    font-size: 3rem;
    color:rgb(189, 119, 189) }               
    @media (max-width: 56.25em) {
      .heading-secondary {
        font-size: 2.5rem; } }
    @media (max-width: 37.5em) {
      .heading-secondary {
        font-size: 2.5rem; } }
  
  .heading-secondary::after {
    content: "";
    display: block;
    margin: 0 auto;
    height: 0.2rem;
    width: 10rem;
    margin-top: 2rem;
    background-color: p;
    margin-bottom: 2rem; }
  
  .heading-tertiary {
    font-size: 2rem;
    margin-bottom: 3rem;
    font-weight: 500;
    color:rgb(189, 119, 189);
     }

  p {
    font-size: 1.6rem; }

    .header {
        height: 60vh;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        background-attachment: fixed;
        position: relative;
        background-color: #fff; }
      
      .header__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
      
      .heading-primary--main {
        display: block;
        font-weight: bold;
        text-decoration: underline; }
      
.myimage {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
  @media (max-width: 56.25em) {
    .myimage {
      text-align: center;
      float: none; } }
  .myimage img {
    border: 1px solid rgb(189, 119, 189);
    border-radius: 5px;
    padding: 0.5rem;
    height: 50%; }
    @media (max-width: 56.25em) {
      .myimage img {
        margin-left: auto;
        margin-right: auto; } }

.section-about {
  background-color: #f7f7f7;
  padding: 6rem 0; 
}
  @media (max-width: 56.25em) {
    .section-about {
      padding: 4rem 0;
      text-align: center; } }

      
.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 3rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 70rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-left: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((80% - 4rem)/2); }



/* ============ About Section ================== */
.sub-heading {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color: rgb(189, 119, 189);
  }
  .sub-section {
    display: flex;
    justify-content: space-around;
    padding: 100px;
  }
  .sub-section-alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    background-color: #dbf0fa;
  }


/* ============ Project Section ================== */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
background-color: transparent;
width: 50%;
height: 500px;
perspective: 1000px;
margin: 30px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.project-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 500px;
  border-radius: 30px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-color: #bbb; */
  border: 2px solid rgb(189, 119, 189);
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(189, 119, 189);
  color: white;
  transform: rotateY(180deg);
}

.project-information {
  display: flex;
  flex-direction: column;
  /* max-width: 600px; */
}
.project-information a {
  text-transform: uppercase;
  padding: 1rem 1rem;
  color: #fff;
  border-radius: 30px;
  text-align: center;
}
.project-information a:hover {
  background-color: #293488;
}


.subtext {
  margin: 20px;
  font-size: 1rem;
  font-weight: 300;
}
.project-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 30px;
}

hr {
  margin: 0 50px;
}
.project-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

.section-form {
  padding-top: 3.5rem;
  padding-bottom: 3rem;
  width: 60%;
  margin: 0 auto;
  font-size: 110%; }
  @media (max-width: 56.25em) {
    .section-form {
      width: 100%; } }

input[name=name],
input[type=email],
textarea {
  width: 70%;
  padding: 0.9rem;
  border-radius: 3px;
  margin-bottom: 2.25rem;
  border: 1px solid rgb(189, 119, 189); }
  @media (max-width: 56.25em) {
    input[name=name],
    input[type=email],
    textarea {
      padding: 0.3rem; } }

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border: 2px solid rgb(189, 119, 189); }

textarea {
  height: 10rem; }
  @media (max-width: 56.25em) {
    textarea {
      height: 8rem; } }



      .footer--main-social {
        list-style: none; }
      
      .footer--main-social li {
        display: inline-block;
        margin-right: 4rem;
        margin-top: 3.8rem; }
      
      .footer--main-social li a:link,
      .footer--main-social li a:visited {
        text-decoration: none;
        color: #5E5E5E;
        margin-left: 1rem; }
    
    
    footer {
        background-color: #f7f7f7; }
        footer--main-social {
          list-style: none; }
          footer--main-social li {
            display: inline-block;
            margin-left: 2rem;
            margin-right: 2rem; }
            footer--main-social li a:link,
            footer--main-social li a:visited {
              text-decoration: none;
              color: #fff; }
          @media (max-width: 56.25em) {
            footer--main-social {
              width: 100%;
              margin-top: 2rem; } }
        footer p {
          margin-bottom: 2.5rem;
          color: #5E5E5E;
          width: 100%;
          margin-top: 2.5rem; }
    

.footer--main-social {
    list-style: none; }
  
  .footer--main-social li {
    display: inline-block;
    margin-right: 4rem;
    margin-top: 3.8rem; }
  
  .footer--main-social li a:link,
  .footer--main-social li a:visited {
    text-decoration: none;
    color: #5E5E5E;
    margin-left: 1rem; }


footer {
    background-color: #f7f7f7; }
    footer--main-social {
      list-style: none; }
      footer--main-social li {
        display: inline-block;
        margin-left: 2rem;
        margin-right: 2rem; }
        footer--main-social li a:link,
        footer--main-social li a:visited {
          text-decoration: none;
          color: #fff; }
      @media (max-width: 56.25em) {
        footer--main-social {
          width: 100%;
          margin-top: 2rem; } }
    footer p {
      margin-bottom: 2.5rem;
      color: #5E5E5E;
      width: 100%;
      margin-top: 2.5rem; }

      .footer--main-social {
        list-style: none; }
      
      .footer--main-social li {
        display: inline-block;
        margin-right: 4rem;
        margin-top: 3.8rem; }
      
      .footer--main-social li a:link,
      .footer--main-social li a:visited {
        text-decoration: none;
        color: #5E5E5E;
        margin-left: 1rem; }
    
    
    footer {
        background-color: #f7f7f7; }
        footer--main-social {
          list-style: none; }
          footer--main-social li {
            display: inline-block;
            margin-left: 2rem;
            margin-right: 2rem; }
            footer--main-social li a:link,
            footer--main-social li a:visited {
              text-decoration: none;
              color: #fff; }
          @media (max-width: 56.25em) {
            footer--main-social {
              width: 100%;
              margin-top: 2rem; } }
        footer p {
          margin-bottom: 2.5rem;
          color: #5E5E5E;
          width: 100%;
          margin-top: 2.5rem; }
    

  